@model MVC.Models.Potkategorija

@{
    ViewBag.Title = "ShowPotkategorijaDetails";
}

<h2>Detalji potkategorije</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPotkategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPotkategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategorijaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategorijaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>
@Html.ActionLink("Uredi", "EditPotkategorija", new { id = Model.IDPotkategorija }, new { @class = "btn btn-primary" })
@Html.ActionLink("Obriši", "DeletePotkategorija", new { id = Model.IDPotkategorija }, new { @class = "btn btn-danger" })
<br />
<br />
@Html.Partial("ReturnToRacunDetailsLink")
